<div class='container mt-3', style='width: 30rem'>

    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
        <div class='mt-4'>
            <%= f.label :name, "Name:", class:'form-label' %>
            <%= f.text_field :name, placeholder: 'Enter Your Name', class:'form-control' %>
        </div>
        <div class="mt-4">
            <%= f.label :email, "Email:", class:'form-label' %>
            <%= f.email_field :email, placeholder: "Enter Your Email", class:'form-control'%>
        </div>
        <div class='mt-4'>
            <%= f.label :password, "Password:", class:'form-labe'%>
            <%= f.password_field :password , class:'form-control' %>
            <% if @user.errors %>
                <% @user.errors.messages[:password].each do |e| %>
                    <p><%= e %></p>
                <% end %>
            <% end %>
        </div>
        <div class='mt-4'>
            <%= f.label :password_confirmation, "Insert your password again:", class:'form-labe'%>
            <%= f.password_field :password_confirmation , class:'form-control' %>
        </div>
        <%= f.submit "Sign Up", class:"btn btn-outline-primary mt-3" %>
    <% end %>

</div>